body {
    font-family: 'Times New roman';
    margin: 0;
    background:#0c011f;
    color: white;
}

.logo {
    width:100px;
    height:100px;
    border-radius:8px;
    background:linear-gradient(135deg,#7c3aed,#ec4899);
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-weight:700;
    font-size:40px;
   }

   .header-row {
    display: flex;
    align-items: center;   
    
    
}

.header-text {
    text-align: center;
}

.header-text h1 {
    margin: 0;
    font-size: 40px;
}

.header-text p {
   margin-top: 6px;
    font-size: 24px;
    
}

.navbar {
    font-size: 20px;
    background: #222;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    color: #ffcc66;
}

header {
    background: purple;
    color: white;
    padding: 20px;
    text-align: center;
}

h2{
    color: #c084fc;
    font-size: 28px;
}

h3{
    color: #e9b6ff;
    font-size: 23px;
}

p {
    font-size: 20px;
}

.content {
    width: 90%;
    max-width: 2100px;
    margin: 20px auto;
}

.intro p {
    line-height: 1.6;
    margin-bottom: 12px;
    font-size: 20px;
}

li {
    font-size: 20px;
}

.banner-img {
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
}

.img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 15px 0;
}

.dress{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 15px 0;
}

.costume{
    width: 600px;
    height: 300px;
    border-radius: 10px;
    margin: 15px 0;
}

.images{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin: 15px 0;
}

.choose h2 {
    margin-top: 40px;
}

.dance-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
}

.dance-card {
    background: purple;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    font-size: 20px;
}

.dance-card:hover {
    background: #ffe6b3;
    transform: translateY(-4px);
}

.box{
    
    background: purple;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.box:hover {
    background: #ffe6b3;
    transform: translateY(-4px);
}

/* Slideshow full width */
.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 20%; 
    overflow: hidden;
    margin-top: 10px;
}

.slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 0;
}



.caption {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background: rgba(0,0,0,0.4);
    padding: 10px 15px;
    border-radius: 6px;
}

/* Fade animation */
.fade {
    animation-name: fadeEffect;
    animation-duration: 1.5s;
}

@keyframes fadeEffect {
    from {opacity: .4}
    to {opacity: 1}
}

.dance-box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    
}

.dance-box {
    background:purple;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    color: white;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s;
    margin: 20px auto;
}

.dance-box:hover{
    transform: translateY(-5px);
}

.dance-box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

.dance-box h3 {
    margin: 10px 0;
    color: #c084fc; /* light purple */
}

.dance-box p {
    font-size: 0.9rem;
    color: #ddd;
}

.view-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background:#c084fc;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.view-btn:hover {
    background: #e9b6ff;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 8px 0 0 8px;
    outline: none;
    font-size: 16px;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background: #c084fc; /* purple */
    color: black;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    font-weight: bold;
}

.search-bar button:hover {
    background: #e9b6ff;
}

button.search {
    padding: 10px 20px;
    background: #c084fc;  /* purple button */
    border: none;
    color: black;
    border-radius: 0 8px 8px 0;
    font-weight: bold;
    cursor: pointer;
    

}

button.search:hover {
    background: #e9b6ff;
}

table{
    border-collapse: separate;
    border-spacing: 10px,10px;
}

.banner-btn {
    width: 90%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    transition: 0.4s;
}
.banner-btn.meet { background: #A67BE9; }
.banner-btn.book { background: #D9C4F7; }

.banner-btn a {
    color: white;
    text-decoration: none;
}

.banner-btn:hover {
    transform: scale(1.04);
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.teacher-card {
            display: flex;
            gap: 15px;
            padding: 15px;
            border-radius: 15px;
            background: #9761e2;  /* light card color */
            box-shadow: 0 3px 10px rgba(0,0,0,0.2);
            align-items: center;
        }

        .teacher-left img {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            object-fit: cover;
        }

        .teacher-right h3 {
            margin: 0;
            font-size: 26px;
        }

        .teacher-right .style {
            font-weight: bold;
            opacity: 0.9;
        }

        .teacher-actions {
            margin-top: 10px;
        }

        .teacher-actions a {
            padding: 8px 15px;
            border-radius: 8px;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            background: #7935e8;
            color: white;
            transition: 0.3s;
        }

        .teacher-actions a:hover {
            background: #5713be;
        }

        .teacher-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 15px rgba(0,0,0,0.3);
            transition: 0.3s;
        }

        .booking-container{
    max-width:800px;
    background:#d9c4f7;
    color:black;
    margin:30px auto;
    padding:25px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.4);
}

.booking-container h2{
    text-align:center;
    margin-bottom:20px;
}

label{
    font-weight:bold;
}

input, select, textarea{
    width:100%;
    padding:10px;
    border-radius:8px;
    border:none;
    margin-top:5px;
    margin-bottom:15px;
    font-size:18px;
}

textarea{
    resize:none;
    height:80px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:12px;
    background:#8e5fd6;
    color:white;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#6d3cc4;
}

.box-help {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

.links a {
    display: block;
    margin: 15px;
    padding: 15px;
    background: rgb(242, 202, 244);
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}

.links a:hover{
    background: #6d3cc4;
}

.chatbox {
    width:60%;
    margin:40px auto;
    border:2px solid #0ff;
    padding:20px;
}

#chatArea {
    height:200px;
    border:1px solid #0ff;
    padding:10px;
    overflow-y:scroll;
    margin-bottom:10px;
}

.input-msg {
    width:75%;
    padding:10px;
}

.button-box {
    padding:10px 20px;
    background:rgb(89, 50, 121);
    border:none;
    font-weight:bold;
}



form {
    width:100%;
    margin:auto;
    margin-top: 10px;
    font-size: 20px;
    color: black;
}


.button-form {
    padding:10px 20px;
    background:rgb(194, 120, 214);
    border:none;
    font-weight:bold;
}

.button-Delete {
    padding: 12px, 25px;
    background: red;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#deleteBox {
    margin-top: 30px;
    border: 2px solid red;
    padding: 20px;
    width: 50%;
    margin: auto;
}

.button-Setting{
    padding:10px 20px;
    margin:10px;
    background:rgb(52, 4, 95);
    border:none;
    font-weight:bold;
    cursor:pointer;
}



#settingBox{
    margin-top:30px;
    border:2px solid #0ff;
    padding:20px;
    width:60%;
    margin:auto;
}

.button-trouble{
    padding:12px 20px;
    margin:10px;
    background:rgb(52, 4, 95);
    border:none;
    font-weight:bold;
    cursor:pointer;
}

#solutionBox{
    margin-top:30px;
    border:2px solid #0ff;
    padding:20px;
    width:60%;
    margin-left:auto;
    margin-right:auto;
}